:root {
    --primary-color: #E7E8D1;
    --secondary-color: #A7BEAE;
    --secondary-color-dark: #6e7c72;
    --tertiary-color: #B85042;
    --link-color: #B85042;
    --hover-link-color: black;
}


body {
    background-color: var(--primary-color);
    display: grid;
    grid-auto-rows: 200px;
    grid-template-rows: 50px auto 200px;
    align-items: center;
}


header {
    background: var(--secondary-color);
}

#header {
    grid-row: 1 / 2;
}

header div {
    display: inline-block;
}

header a {
    text-decoration: none;
    color: black;
}

header li {
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
}

#header a:hover,
#header a:active {
    color: white;
}

.content {
    display: grid;
    grid-template-columns: 0.7fr 2.5fr 1fr;
}

.footer {
    display: grid;
    grid-row: 3 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
}

.footer ul {
    padding-left: 0;
}

.footer li {
    list-style: none;
}

.contact {
    grid-column: 1 / 2;
}

.social-media {
    grid-column: 3 / -1;
}

h1,
h2,
h3 {
    color: var(--secondary-color-dark)
}