{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'job_searcher/index.css' %}">
    <link rel="stylesheet" href="{% static 'job_searcher/job_detail_page.css' %}">
{% endblock %}

{% block page_title %}
    {{job_info.job_title}}
{% endblock %}

{% block content %}
    <div id="joblisting-url">
        <div class="user-rating">
            <h1>How much do you like this Job Opportunity?</h1>
            <form method="Post">  
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
        <div>
            <a href={{job.joblisting_url}} class="button" target="_blank">Link to the Jobpage</a>
        </div>
    </div>
    <div id="job-detail">
        {{ job.html_code | safe }}
    </div>
    <div id="marketing">
        <h1>Hier könnte ihre Werbung stehen.</h1>
    </div>
{% endblock %}