p {
    text-align: left;
    padding-left: 16px;
}

table {
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}

table td {
    padding: 15px;
}

table thead {
    background-color: #54585d;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
}

table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
}

table tbody tr {
    background-color: #f9fafb;
}

table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

a {
    color: var(--link-color)
}

a:hover,
a:active {
    color: var(--hover-link-color);
}

#job_listings {
    grid-column: 1 / -1;
    justify-self: center;
}

.main-content {
    grid-column: 1 / -1;
    justify-self: center;
}