#job_listings h1 {
    text-align: center;
}

#job_listings a {
    color: #F65058FF
}

#job_listings a:hover,
#job_listings a:active {
    color: white;
}

.job-description {
    justify-self: center;
}