{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    <input type="submit" name="logout" value="Press here to Logout!" />
</form>

{% else %}

<h1>You are not logged in!</h1>

<form method="post">
    {% csrf_token %}
    <input type="submit" name="login" value="Press here to Login!" />
</form> <br>

<form method="post">
    {% csrf_token %}
    <input type="submit" name="register" value="Press here to Register!" />
</form>


{% endif %}

{% endblock %}